.DS_Store
/node_modules/
*.tsbuildinfo

# React Router
/.react-router/
/build/

# Cloudflare
.mf
.wrangler
.dev.vars*

# Supabase
supabase/.temp/

# Environment files
.env*
!.env.sample

# E2E Tests
/test-results/
/playwright-report/
/playwright/.cache/

# Other
.vscode/
.idea/
.claude/

# serena
.serena/
